:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}

.page-container {
  width: 100%;
  min-height: 100vh;
}

.federated-card {
  width: 100%;
  min-height: 90vh; /* aqui está a chave */

  background: #ffffff;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(3, 2, 2, 0.08);
  text-align: center;
  border: 3px solid #667eea;
  border-radius: 16px;
  box-sizing: border-box; /* evita estourar largura */
}
