<div class="page-container">
  <mat-card class="student-card">
    <mat-card-header>
      <mat-card-title>{{ isEditing() ? 'Edição de Aluno' : 'Cadastro de Aluno' }}</mat-card-title>
      <mat-card-subtitle>CRUD completo de alunos (MVP inicial)</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="student-form" [formGroup]="alunoForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nome completo *</mat-label>
          <input matInput formControlName="nomeCompleto" />
          <mat-error *ngIf="alunoForm.controls.nomeCompleto.hasError('required')">
            Nome completo é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CPF *</mat-label>
          <input matInput formControlName="cpf" (input)="onCpfInput()" placeholder="000.000.000-00" />
          <mat-error *ngIf="alunoForm.controls.cpf.hasError('cpfInvalido')">
            Informe um CPF válido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de nascimento *</mat-label>
          <input
            matInput
            formControlName="dataNascimento"
            (input)="onDateInput()"
            placeholder="dd/MM/aaaa"
          />
          <mat-error *ngIf="alunoForm.controls.dataNascimento.hasError('dataInvalida')">
            Use o formato dd/MM/aaaa com uma data válida.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail *</mat-label>
          <input matInput type="email" formControlName="email" placeholder="fulano.silva@email.com" />
          <mat-error *ngIf="alunoForm.controls.email.hasError('emailInvalido')">
            Use um e-mail consistente no formato fulano.silva@email.com.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            formControlName="telefone"
            (input)="onTelefoneInput()"
            placeholder="(99) 99999-9999 ou (99) 9999-9999"
          />
          <mat-error *ngIf="alunoForm.controls.telefone.hasError('telefoneInvalido')">
            Use (99) 99999-9999 ou (99) 9999-9999.
          </mat-error>
        </mat-form-field>

        <div class="actions">
          <button mat-raised-button color="primary" type="submit">
            <mat-icon fontIcon="save"></mat-icon>
            Salvar
          </button>

          <button mat-stroked-button type="button" (click)="onCancel()">
            <mat-icon fontIcon="close"></mat-icon>
            Cancelar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
